/* Universal Styles */

* {
    margin: 0;
    padding: 0;
    font-family: Avenir Next;
    font-weight: 500;
}

/*nav styles */

.nav-container {
    position: fixed;
    width: 80%;
    
}

.nav-button {
    font-family: Avenir Next;
    font-weight: 500;
    text-decoration: none;
    color: white;
    font-size: 1vw
    
}

.flexbetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 11%
    
}

.simple-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-column-gap: 5vw;
    align-items: center;
    
}

.normal-button {
    border: 1px solid white;
    background-color: transparent;
    font-size: 1vw;
    padding: 10px 30px;
    border-radius: 10px;
    
}

/*This is the header*/

header {
    background-image: url(../Assets/Photo%20above%20the%20fold.png);
    height: 680px;;
    
}

/*---information inside the header---*/

#header-text {
    position: absolute;
    margin: 10% 0% 0% 11%;
    color: white;
    
}

.purple {
    color: #6161E8;
}

#header-text h1 {
    font-size: 360%;
    line-height: 50px
}

#header-text p {
    width: 35%;
    margin-top: 2%
    
}

.purple-button {
    margin-top: 2em;
    padding: 1% 5%;
    font-size: 120%;
    color: white;
    background-color: #6161E8;
    border-color: #6161E8;
}

/* this is the underheader's styles */

/*these are the styles of the stadistics container*/

#get-ahead {
    display: flex;
}

#get-ahead img{
    transform: translate(0, -15%);
    
}

#text-ahead {
    margin: 5% 0 0 8%; 
    width: 30%;
    color: #324063;
    
}

#text-ahead h1{
    font-size: 300%;
    font-weight: 400;
    margin-bottom: 20px;
}



















